<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>method</key>
  <string>app-store</string>
  <key>provisioningProfiles</key>
  <dict>
    <key>com.asrafulislam.expenseplanner</key>
    <string>Your App's App Store Provisioning Profile Name</string>
  </dict>
  <key>signingCertificate</key>
  <string>iOS Distribution</string>
  <key>signingStyle</key>
  <string>manual</string>
  <key>teamID</key>
  <string>B682R4GGAR</string> # From https://developer.apple.com/account
</dict>
</plist>
<!-- 56S5TWXASG -->
<!-- B682R4GGAR -->